name: Update Recent Activity in Readme

on:
  schedule:
    - cron: '01 01 * * *' # Update every 30 minutes
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Update Profile README

    steps:
      - uses: actions/checkout@v2.3.4
      - uses: Readme-Workflows/recent-activity@v.2.3.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

